@*@{
        ViewData["Title"] = "Admin";
    }

    <div class="jumbotron bg-secondary mt-4">
        <h1 class="text-light">About</h1>
        <p class="text-light">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
    </div>*@


@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/6.0.1/reactstrap.min.js"></script>
    <script type="module" src="@Url.Content("~/js/AboutPage.jsx")"></script>
</body>
</html>